* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.nav {
 background:green;
 padding: 10px;
 margin-bottom: 20px;
 position: sticky;
 top: 0;
}
.static {
    position: static;
    border: 2px solid red;
    margin-left: 50px;
}

/* relative & absoulte */

.relative {
    height: 150px;
    width: 300px;
    border: 5px solid green;
    position: relative;
}

.absolute {
    border: 2px solid red;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
}

.fixed {
    font-size: 20px;
    color: red;
    position: fixed;
    top: 0;
    right: 10px;
}

.scrolltop {
    height: 80px;
    width: 80px;
    background: red;
    text-align: center;
    border-radius: 100%;
    line-height: 80px;
    position: fixed;
    right: 20px;
    bottom: 50px;
}

.scrolltop a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}