/* font-family: 'Gentium Book Basic', serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Yeseva One', cursive; */

* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}

a:hover,
a:focus {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0;
    padding: 0;
    font-family: 'Yeseva One', cursive;
}

img {
    max-width: 100%;
}

p {
    font-family: 'Lato', sans-serif;
}

.section-padding {
    padding-top: 70px;
    padding-bottom: 65px;
}


/*  navbar css */

.social-nav .nav-link {
    color: #dab33e !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: 20px;
    font-family: 'Gentium Book Basic', serif;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: #fff;
    border-top: 3px solid #f9f9f9;
}

#hero-area {
    background: url(img/header-bg.jpg)no-repeat center center / cover;
}

.hero-text {
    padding: 160px 0;
}

.hero-text h1 {
    font-size: 72px;
    color: #f3f4f5;
    font-family: 'Yeseva One', cursive;
    font-weight: 600;
}

.title-bottom-icon {
    max-width: 230px;
    margin: 30px auto;
}

.hero-button {
    display: inline-block;
    padding: 20px 50px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    margin-right: 30px;
}

.hero-button:last-child {
    margin-right: 0;
}

.hero-button.dark-btn {
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0.4);
}

a.hero-button.white-btn {
    border: 1px solid #d4d0bc;
    background: rgba(255, 255, 255, 0.3);
}


/* promo section css start */

#promo {
    background: url(img/dish-section-bg.jpg) no-repeat center center / cover;
}

.about {
    text-align: center;
}

.promo-title {
    color: #cc9900;
    padding: 20px 0;
    font-size: 36px;
}

.divider {
    margin-bottom: 20px;
}

.promo-content p {
    font-size: 16px;
}

.promo-content {
    margin-bottom: 26px;
}


/* inin-gredient */

#in-gredient {
    background: url(img/in-gredient-bg.jpg) no-repeat center center / cover;
}

.in-gredient-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 70px 80px;
    text-align: center;
    color: #fff;
}

.gredient-title {
    color: #fff;
    padding: 20px 0;
    font-size: 36px;
}

.divider {
    margin-bottom: 20px;
}

.gredient-text p {
    font-size: 16px;
}
#food-menu-area{
    background: url(img/food-menu-bg.jpg) no-repeat center center /cover;
}
.food-menu-title {
    text-align: center;
    color: #cc9900;
    margin-bottom: 22px;
}

.food-menu-title h1 {
    font-size: 36px;
    margin-bottom: 12px;
}

.food-menu-item {
    margin-bottom: 20px;
    padding: 10px 6px;
}

.food-menu-item h3 {
    color: #c89f2d;
    font-size: 22px;
    border-bottom: 1px solid #c89f2d;
    padding-bottom: 7px;
}

.food-menu-item p {
    color: #4c4c4c;
    font-size: 14px;
    margin-top: 8px;
}
.special {
    position: relative;
    border: 1px solid #e4d5a8;   
}
.special::after {
    content: "Special";
    position: absolute;
    top: -29px;
    right: -1px;
    background: #d7bd74;
    color: #fff;
    font-size: 12px;
    padding: 4px;
    width: 58px;
    height: 28px;
    text-align: center;
   
}
#guest-review-area{
    background: url(img/guest-review-bg.jpg) no-repeat center center / cover;
}
.guest-review{
    background: rgba(0,0,0,0.8);
    padding: 80px 60px;
    color: #fff;
    text-align: center;
}
.guest-review-content h3{    
    font-family: 'Gentium Book Basic', serif;
    font-size: 25px;  
    color: #dde0df;
}

.guest-review-content {
    position: relative;
}

.guest-review-content::before {
    content: "\efcd";
    font-family: IcoFont;
    width: 20px;
    left: -24px;
    top: -18px;
    color: #dde0df;
    position: absolute;
    font-size: 30px;
}
#reservation{
    background: url(img/reservation-bg.jpg) no-repeat center center / cover;
}

.reservation-title{
    text-align:center;
}
.reservation-title h1{
     color: #cc9900;
     font-size: 34px;
}
.reservation-meta{
    text-align:center;
}
.reservation-meta p{
   color:#4c4c4c;
   font-size: 14px;   
}
.btn-reservation {
    display: inline-block;
    border: none;
    font-size: 14px;
    font-weight: 600;
    background: #c9a131;
    color: #fff;
    padding: 12px 65px;
    margin-top: 25px;
}

.reservation-form label {
    color: #c9a131;
    font-weight: 600;
}
.reservation-form .form-control:focus {
    color: #495057;
    background-color: transparent;
    border-color: #c9a131;
    outline: 0;
    box-shadow:none;
    
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #4c4c4c;
  opacity: 1; /* Firefox */
  font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #4c4c4c;
  font-style: italic;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #4c4c4c;
  font-style: italic;
}
/*footer css*/
#footer{
    background: #191919;
    color:#fff;
    padding: 50px 0;
}
.footer-meta{
    font-size: 16px;
    text-align:center;
}
.payment-option{
    text-align:center;
}
.payment-option a{
    display: inline-block;
    padding: 2px 12px;
    background: #fff;
    color: #333;
}
.payment-option a i{
    font-size: 30px;
}